.container-flex {
    display: flex;
    justify-content: center;
}

.main {
    padding-top: 20px;
    padding-bottom: 60px;
}

.row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.row-medium {
    width: 100%;
    padding-inline: 4%;
}

.row__title {
    margin-bottom: 30px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 23rem), 1fr));
    gap: 1rem;
}

.card {
    padding-inline: 4%;
    border-radius: 2px;
}

.card-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 3rem;
}
